
<header>
    <a href="images/me_cropped-oval.png"><img src="images/me_cropped-oval.png" title="source: imgur.com" /></a>
    <h1>Greg Lawson Info</h1>
    <ul>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="/contact">Contact Info</a></li>
    </ul>
</header>
<div id="about-me">
    <article>
        <h2>About Me</h2>
        <p>Hello and welcome to my page! If you are wondering who I am, let me tell you a little bit about myself. My name is Gregory Lawson, an inquisitive learner and student of life.  My interests include sports, movies, music, and politics.    I enjoy all types of sports, but from September to February, it is all about football, both college and professional.  Go Kansas Jayhawks and Atlanta Falcons.    My playlist includes rap, reggae, and R&B music.  If you search my movie collection, you will find a range of genres including adventure, action, comedy, drama and suspense.  Being that I watch many movies, I can often be found quoting lines, with my favorites being "Get busy living, or get busy dying" from the Shawshank Redemption or "If you're not first, you're last." from Talledega Nights.  When it comes to politics, I don't care whose side you are on, all I ask is that you be able to defend your position, because I will challenge you.
            My favorite color is purple, as evident in my fraternal membership as a proud, card carding, active member of Omega Psi Phi, Fraternity, Inc.   My favorite food is anything that can be made into a sandwich.
        </p>
    </article>
</div>