<head>
    <title>About Greg in Layout2</title>
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/random.js"></script>

</head>
<body>
<h1>Welcome! 2 (header)</h1>
<%= yield %>
<h1>See ya! 2 (footer)</h1>
</body>